### Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

*   Overview of Data Science Tools
*   Know the popular languages of Data Science
*   Learn to use Jupyter Notebooks and JupyterLab

Some of the popular languages that Data Scientists use are:
1.   Python
2.   R
3.   SQL

Some of the commonly used libraries used by Data Scientists include:
1.   NumPy
2.   Pandas
3.   Matplotlib

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| RStudio            |
| TensorFlow         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Lakshman Aravind Pari